::-webkit-scrollbar {
    width: auto;
}

::-webkit-scrollbar-track {
    background: rgb(33, 33, 33);
}

::-webkit-scrollbar-thumb {
    background: #666;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
    cursor: default;
}