::-webkit-scrollbar {
    width: auto;
}

::-webkit-scrollbar-track {
    background: rgb(33, 33, 33);
}

::-webkit-scrollbar-thumb {
    background: #666;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
    cursor: default;
}

p {
    margin: 0;
    padding: 0;
}

.chat-app {
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
}

.show-sidebar-icon{
    position: absolute;
    z-index: 1;
    top: 16px;
    left: 16px;
}